.navbar {
  box-sizing: border-box;
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgrey;
  opacity: 95%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(100px);
  z-index: 10;
}

.logo {
  margin-right: 3%;
}

.buttons {
  margin-left: 1%;
  margin-right: 1%;
  justify-content: right;
}

.button19 {
  background-color: rgb(92, 92, 92);
  border: solid transparent;
  border-radius: 8px;
  border-width: 1px;
  border-color: white;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  text-align: center;
  width: auto;
  min-width: 100px;
  height: 75px;
  
}

.button19:hover {
  filter: brightness(1.6);
}

.pageTitle {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 40px;
  color: white;
}
.pageTitle:hover{
  text-decoration: none;
}


.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.board {
  margin: auto;
  width: 300px;
  height: 350px;
  padding: 10px;
  background-color: #bdbdbd;
  border: black;
  border-style: solid;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.square{
  margin: auto;
  width: 31%;
  height: 27%;
  margin: 1%;
  background-color: lightblue;
  font-size: 40px;
  border-radius: 7px;
}

.reset{
  width: 70%;
  height: 10%;
  background-color: rgb(77, 77, 77);
  color: white;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 4%;
  margin-left: 15%
}

.socialmedialogo {
  float:left;
  margin-right: 1%;
}

.socialmedia {
  text-align: justify;
}